.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.file-explorer-container {
  display: flex;
}

/* Color Theme Swatches in RGBA */
.rgb-white { background-color: white; }
.rgb-1 { background-color: rgba(79, 94, 114, 1); }
.rgb-2 { background-color: rgba(242, 242, 242, 1); }
.rgb-3 { background-color: rgba(163, 168, 175, 1); }
.rgb-4 { background-color: rgba(204, 195, 191, 1); }
.rgb-5 { background-color: rgba(140, 75, 68, 1); }

/* .rgb-1 { background-color: rgba(140, 11, 34, 1); }
.rgb-2 { background-color: rgba(66, 92, 114, 1); }
.rgb-3 { background-color: rgba(162, 177, 191, 1); }
.rgb-4 { background-color: rgba(114, 76, 5, 1); }
.rgb-5 { background-color: rgba(242, 242, 242, 1); } */
