/* Header */
.header-container {
  text-align: center;
  font-size: 24px;
  width: 100%; 
}

.header {
  color: white;
  margin: 0;
  padding: 10px;
}

.file-explorer-container {
  display: flex;
  flex-grow: 1;
  height: 100vh;
}


/* Sidebar */
.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.add-folder-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  width: 100px;
  margin: 10px 0px 40px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, color */
}

.add-folder-button:hover {
  background-color:  rgb(213, 227, 245);
  transition: 0.8s;
}

/* Folders */
.folder-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  padding: 0px 5px;
  cursor: pointer;
  /* border-radius: 10px; */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, color */
}

.folder-wrapper:hover {
  background-color:  rgb(101, 119, 145);
  transition: 0.8s;
}

.folder-icon {
  width: 30px;
  height: 30px;
  margin: 0px 5px;
}

.folder-name {
  font-size: 18px;
  margin-left: 5px;
  text-align: center;
  color: white;
}



/* Files */
.file-explorer {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 0px 0px 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 1); /* horizontal offset, vertical offset, blur radius, color */
}

.current-path {
  text-align: left;
  margin: 10px 10px 10px 0px;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, spread radius, color */
}

.files-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.file-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.1); /* horizontal offset, vertical offset, blur radius, color */
}

.file-wrapper:hover {
  background-color:  rgb(213, 227, 245);
  border-radius: 10px;
  transition: 0.8s;
}

.file-icon {
  width: 45px;
  height: 45px;
  margin-bottom: 5px;
}

.file-name {
  font-size: 10px;
  margin: 0;
  text-align: center;
  color: black;
}




.file-upload-wrapper {
  display: 'flex'; 
  flex-direction: 'column'; 
  align-items: 'center'; 
  justify-content: 'center'; 
  height: '100vh';
}

.file-upload-field {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Creates columns with a minimum width of 100px */
  border: 2px white;
  padding: 10px;
  background-color: rgba(68, 68, 68, 0.22);
  width: 300px;
  height: 300px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: background-color 1s; 
  border-radius: 10px;
}

.file-grid {
  grid-gap: 10px; /* Space between grid items */
  width: 100%; /* Ensure the grid container takes full width of its parent */
  padding: 10px;
}


.file-upload-field:hover {
  background-color: rgba(40, 44, 52, 0.6); 
}

.file-upload-button {
  background-color: #007bffcb;
  color: white; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 60%;
  transition: background-color 1s;
}

.file-upload-button:hover {
  background-color: #007bff; 
}


@media only screen and (max-width: 600px) {
  .sidebar {
    width: 60px;
  }

  .add-folder-button {
    width: 50px;
    margin: 10px 0px 40px 5px;
  }

  /* Folders */
  .folder-wrapper {
    flex-direction: column;
    height: 80px;
  }

  .folder-icon {
    width: 40px;
    height: 40px;
    margin: 8px 5px 0px 5px;
  }
  
  .folder-name {
    font-size: 15px;
    margin: 0px;
    text-align: center;
  }

  .file-wrapper {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  
  .file-wrapper:hover {
    background-color:  rgb(213, 227, 245);
    border-radius: 10px;
    transition: 0.8s;
  }
  
  .file-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
  }
  
  .file-name {
    font-size: 10px;
    margin: 0;
    text-align: center;
    color: black;
  }
}